@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("Cargos", "Index", "Cargo")</li>
        <li>@Html.ActionLink("Categorias", "Index", "Categoria")</li>
        <li>@Html.ActionLink("Formas de pagamento", "Index", "FormaDePagamento")</li>
        <li>@Html.ActionLink("Funcionários", "Index", "Funcionario")</li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Sair", "Sair", "Login")</li>
    </ul>
}
