@model Donatella.Data.Entities.Endereco
<div class="col">
    @Html.HiddenFor(m => m.Id)
    @Html.MyLabelFor(m => m.Cep)

    @Html.TextBoxFor(x => x.Cep, new { @class = "Endereco_Cep" })
    @Html.ValidationMessageFor(m => m.Cep)
</div>
<div class="col">
    <a href="javaScript:void(0);" onclick="buscarCEP();" class="button searchAddress">Preencher endereço</a>
</div>
<div class="col">
   @Html.MyLabelFor(m => m.Logradouro)

    @Html.TextBoxFor(m => m.Logradouro, new { @class = "Endereco_Logradouro" })
    @Html.ValidationMessageFor(m => m.Logradouro)
</div>

<div class="col">
   @Html.MyLabelFor(m => m.Numero)

    @Html.TextBoxFor(m => m.Numero, new { @class = "Endereco_Numero" })
    @Html.ValidationMessageFor(m => m.Numero)
</div>

<div class="col">
   @Html.MyLabelFor(m => m.Complemento)

    @Html.TextBoxFor(m => m.Complemento, new { @class = "Endereco_Complemento" })
    @Html.ValidationMessageFor(m => m.Complemento)
</div>

<div class="col">
   @Html.MyLabelFor(m => m.Bairro)

    @Html.TextBoxFor(m => m.Bairro, new { @class = "Endereco_Bairro" })
    @Html.ValidationMessageFor(m => m.Bairro)
</div>

<div class="col">
   @Html.MyLabelFor(m => m.Cidade)

    @Html.TextBoxFor(m => m.Cidade, new { @class = "Endereco_Cidade" })
    @Html.ValidationMessageFor(m => m.Cidade)
</div>

<div class="col">
   @Html.MyLabelFor(m => m.Uf)

    @Html.EditorFor(m => m.Uf)
    @Html.ValidationMessageFor(m => m.Uf)
</div>

<script type="text/javascript">
    function buscarCEP() {
        if ($('.Endereco_Cep').val() != '') {

            loader(false);
            $.ajax({
                type: "POST",
                url: '@Url.Action("buscarCEP","Endereco")',
                data: { cep: $('.Endereco_Cep').val() },
                success: function (retorno) {
                    loader(true);
                    if (retorno != '') {
                        $('.Endereco_Logradouro').val(retorno[0]);
                        $('.Endereco_Bairro').val(retorno[1]);
                        $('.Endereco_Cidade').val(retorno[2]);
                        $('.Endereco_Uf').val(retorno[3]);
                        $('select').trigger("chosen:updated");
                        $('.Endereco_Numero').focus();
                    }
                }
            });
        }
    }
</script>