@using DonatellaDomain.Entities
@model DonatellaAdmin.Models.FuncionarioViewModel

@{
    ViewBag.Title = "Funcionario";
}

<div class="bs-docs-section">
    <div class="row">
        <div class="col-lg-12">
            <div class="page-header">
                <h1 id="forms">Funcionarios</h1>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <div class="well bs-component">
                @using (Html.BeginForm("Editar", "Funcionario", FormMethod.Post, new { @class = "form-horizontal" }))
                {
                    @Html.AntiForgeryToken()
                    <fieldset>
                        <legend>Funcionario</legend>
                        @Html.ValidationSummary(true)
                        @Html.HiddenFor(model => model.Funcionario.FuncionarioId)
                        <div class="form-group">
                            <label for="nome" class="col-lg-2 control-label">Nome</label>
                            <div class="col-lg-10">
                                @Html.TextBoxFor(model => model.Funcionario.NomeFuncionario, new { @class = "form-control", placeholder = "Funcionario" })
                                @Html.ValidationMessageFor(model => model.Funcionario.NomeFuncionario)
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="nome" class="col-lg-2 control-label">CPF</label>
                            <div class="col-lg-10">
                                @Html.TextBoxFor(model => model.Funcionario.CPF, new { @class = "form-control", placeholder = "CPF" })
                                @Html.ValidationMessageFor(model => model.Funcionario.CPF)
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="nome" class="col-lg-2 control-label">Email</label>
                            <div class="col-lg-10">
                                @Html.TextBoxFor(model => model.Funcionario.Email, new { @class = "form-control", placeholder = "Email" })
                                @Html.ValidationMessageFor(model => model.Funcionario.Email)
                            </div>
                        </div>


                        <div class="form-group">
                            <label for="nome" class="col-lg-2 control-label">Senha</label>
                            <div class="col-lg-10">
                                @Html.PasswordFor(model => model.Senha, new { @class = "form-control", placeholder = "Senha" })
                                @Html.ValidationMessageFor(model => model.Senha)
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="telefone" class="col-lg-2 control-label">Telefone</label>
                            <div class="col-lg-10 form-inline">
                                @Html.TextBoxFor(model => model.Funcionario.TelefoneDDD, new { @class = "form-control", style = "width: 15%; max-width: 70px; min-width: 40px;", placeholder = "DDD" })
                                @Html.TextBoxFor(model => model.Funcionario.Telefone, new { @class = "form-control", style = "width: 50%; max-width: 210px; min-width: 185px;", placeholder = "Telefone" })
                                @Html.ValidationMessageFor(model => model.Funcionario.TelefoneDDD)
                                @Html.ValidationMessageFor(model => model.Funcionario.Telefone)
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="celular" class="col-lg-2 control-label">Celular</label>
                            <div class="col-lg-10 form-inline">
                                @Html.TextBoxFor(model => model.Funcionario.CelularDDD, new { @class = "form-control", style = "width: 15%; max-width: 70px; min-width: 40px;", placeholder = "DDD" })
                                @Html.TextBoxFor(model => model.Funcionario.Celular, new { @class = "form-control", style = "width: 50%; max-width: 210px; min-width: 185px;", placeholder = "Celular" })
                                @Html.ValidationMessageFor(model => model.Funcionario.CelularDDD)
                                @Html.ValidationMessageFor(model => model.Funcionario.Celular)
                            </div>
                        </div>


                        <div class="form-group">
                            <label for="nome" class="col-lg-2 control-label">CEP</label>
                            <div class="col-lg-10">
                                @Html.TextBoxFor(model => model.Funcionario.CEP, new { @class = "form-control", placeholder = "CEP" })
                                @Html.ValidationMessageFor(model => model.Funcionario.CEP)
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="nome" class="col-lg-2 control-label">Endereço</label>
                            <div class="col-lg-10">
                                @Html.TextBoxFor(model => model.Funcionario.Endereco, new { @class = "form-control", placeholder = "Endereço" })
                                @Html.ValidationMessageFor(model => model.Funcionario.Endereco)
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="nome" class="col-lg-2 control-label">Numero</label>
                            <div class="col-lg-10">
                                @Html.TextBoxFor(model => model.Funcionario.Numero, new { @class = "form-control", placeholder = "Numero" })
                                @Html.ValidationMessageFor(model => model.Funcionario.Numero)
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="nome" class="col-lg-2 control-label">Complemento</label>
                            <div class="col-lg-10">
                                @Html.TextBoxFor(model => model.Funcionario.Complemento, new { @class = "form-control", placeholder = "Complemento" })
                                @Html.ValidationMessageFor(model => model.Funcionario.Complemento)
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="nome" class="col-lg-2 control-label">Bairro</label>
                            <div class="col-lg-10">
                                @Html.TextBoxFor(model => model.Funcionario.Bairro, new { @class = "form-control", placeholder = "Bairro" })
                                @Html.ValidationMessageFor(model => model.Funcionario.Bairro)
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="nome" class="col-lg-2 control-label">Cidade</label>
                            <div class="col-lg-10">
                                @Html.TextBoxFor(model => model.Funcionario.Cidade, new { @class = "form-control", placeholder = "Cidade" })
                                @Html.ValidationMessageFor(model => model.Funcionario.Cidade)
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="nome" class="col-lg-2 control-label">Estado</label>
                            <div class="col-lg-10">
                                @Html.TextBoxFor(model => model.Funcionario.Estado, new { @class = "form-control", style = "width: 15%", placeholder = "Estado" })
                                @Html.ValidationMessageFor(model => model.Funcionario.Estado)
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="nome" class="col-lg-2 control-label">Permissões</label>
                            <div class="col-lg-10">
                                @foreach (var permissao in Enum.GetValues(typeof(Permissao)).Cast<Permissao>())
                                {
                                    <div class="checkbox">
                                        <label>

                                            <input type="checkbox" @(Model.Permissoes.Contains(permissao) ? "checked='checked'" : "") name="Permissoes" value="@permissao" />
                                            @{
                                    var description = DonatellaAdmin.infrastructure.EnumHelper<Permissao>.GetDisplayValue(permissao);
                                    @Html.DisplayFor(d => description)
                                            }
                                        </label>
                                    </div>
                                }
                            </div>
                            <div class="form-group">
                                <label for="nome" class="col-lg-2 control-label">Ativo</label>
                                <div class="col-lg-10">

                                    <div class="checkbox">
                                        <label>
                                            @Html.CheckBoxFor(m => m.Funcionario.Ativo)
                                            Ativo
                                            </label>
                                        </div>

                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-lg-10 col-lg-offset-2">
                                        <button type="submit" class="btn btn-default">Salvar</button>
                                    </div>
                                </div>
                        </fieldset>
                }
            </div>
        </div>
    </div>
</div>

<div class="bs-component">
    <ul class="pager">
        <li class="previous"><a href="@Url.Action("Index")">&larr; Voltar a lista</a></li>
    </ul>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
